.control-button {
    color: var(--text);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border-width: 1px;
    border-color: hsl(0, 0%, 0%,10%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-icon {
    translate:0px 2px;
}

@each $mode in 'light', 'dark' {

    .#{$mode}-control-button {
        background: var(--#{$mode}-control-background);
        box-shadow: var(--#{$mode}-control-shadow);
    }

}