.display {
    width: 175px;
    height: 175px;
    border: 2px solid var(--text);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    gap: 5px;
}

